.banner_text{
    transform: translateY(-100px);
}
.banner_sub{
    color: gray;
}
.list li{
    list-style: none;
    padding: 0 15px;
}
.location input {
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
}
.mainList{
    border-bottom: 1px solid gray;
    transform: translateY(-60px);
}

.cardItems{
    transform: translateY(-60px);
}

@media only screen and (max-width: 992px) {
    .location{
        display: none;
    }
    }
@media only screen and (max-width: 770px) {
    .mainList{
        display: none;
    }
    .banner_text{
        transform: translateY(-70px);
    }
    }